{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Third</title>
    <link rel="Stylesheet" href="{% static 'styles_3.css' %}">
</head>
<body>
    <section class="header">
        <div class="title wrapper">
            <h1 class="sweet-title">
                <span data-text="Text1">Text1</span>
                <span data-text="Text2">Text2</span>
                <span data-text="Text3">Text3</span>
                <span data-text="Text4">Text4</span>
            </h1>
        </div>
    </section>
</body>
</html>